<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--这里是全局配置，具体的可以去查mybatis配置-->
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>
    <!--别名，就是将后面那一堆，用User代替-->
    <typeAliases>
        <typeAlias alias="User" type="com.xtk.apistation.webapi.bean.User"/>
        <typeAlias alias="MatBasicInformation" type="com.xtk.apistation.webapi.bean.MatBasicInformation"/>
        <typeAlias alias="MatFactoryAttr" type="com.xtk.apistation.webapi.bean.MatFactoryAttr"/>
        <typeAlias alias="MatAccounts" type="com.xtk.apistation.webapi.bean.MatAccounts"/>
        <typeAlias alias="MatPurchasingStatus" type="com.xtk.apistation.webapi.bean.MatPurchasingStatus"/>
        <typeAlias alias="MatRequestResult" type="com.xtk.apistation.webapi.bean.MatRequestResult"/>
        <typeAlias alias="LogOfImport" type="com.xtk.apistation.webapi.bean.LogOfImport"/>
    </typeAliases>
    <!--环境配置-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="jdbc"/>
            <!--连接数据库-->
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@//192.168.10.201:1521/cscVm"/>
                <property name="username" value="WEBAPI"/>
                <property name="password" value="api"/>
            </dataSource>
        </environment>
    </environments>
    <!--这个就是指定映射的xml，mapper xml中的SQL查询 都要对应java接口类里面的方法-->
    <mappers>
        <mapper resource="mappers/userMapper.xml" />
        <mapper resource="mappers/MatBasicInformationMapper.xml" />
        <mapper resource="mappers/MatFactoryAttrMapper.xml" />
        <mapper resource="mappers/MatAccountsMapper.xml" />
        <mapper resource="mappers/MatPurchasingStatusMapper.xml" />
        <mapper resource="mappers/MatRequestResultMapper.xml" />
        <mapper resource="mappers/MatOrderMapper.xml" />
        <mapper resource="mappers/MatRequestMapper.xml" />

        <mapper resource="mappers/LogOfImportMapper.xml" />
    </mappers>

</configuration>



